{% extends 'base.html' %}

{% block title %}
<title>WEBPAGE test run: change password {{username}}</title>
{% endblock %}


{% block content %}
<h1>Change Your Password</h1>
<form action=/change_password/{{username}} method=POST>
    <table>
    <tr><td>old password</td><td><input class="textfield" type=text name=oldPassword></td></tr>
    <tr><td>new password</td><td><input class="textfield" type=password name=password1></td></tr>
    <tr><td>repeat new password</td><td><input class="textfield" type=password name=password2></td></tr>
    </table>
    <input type=submit value='change password'>
</form>

{% if allGood %}
<h1> Your Password Was Successfully Changed!</h1>
<h2> Please <a href= "/login">Log In</a> using your new password</h2>
{% endif %}

{% if wrongPass %}
<h1> You've enetered a wrong password</h1>
{% endif %}

{% if repeatPass %}
<h1> Repeat your password correctly</h1>
{% endif %}

{% if not_your_username %}
<h1> Not Your Account!</h1>
{% endif %}


{% endblock %}