{% extends 'base.html' %}

{% block content %}
<link rel="stylesheet" href="{{url_for('static', filename='css/style.css')}}">

<h2>Login Webpage</h2>

{% if bad_credentials %}
<p class='color:red;'>
    ERROR: Username or password incorrect.
</p>
{% endif %}

<form action='/login' method="POST">
    <table>
        <tr>
            <td>username</td>
            <td><input type=text name=username></td>
        </tr>
        <tr>
            <td>password</td>
            <td><input type=password name=password></td>
        </tr>
        <tr>
            <td></td>
            <td><input type=submit value='log in'></td>
        </tr>
    </table>
</form>
{% endblock %}